################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/HexMapUnits/bin
/HexMapUnits/obj
/HexMapUnits.Tests/bin
/HexMapUnits.Tests/obj
